body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .quiz-container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  #quiz {
    margin-bottom: 20px;
  }
  
  #question {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .options {
    display: flex;
    flex-direction: column;
  }
  
  .option-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .option-btn:hover {
    background-color: #45a049;
  }
  
  #next-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #next-btn:hover {
    background-color: #007bb5;
  }
  
  .hidden {
    display: none;
  }
  
  #result {
    font-size: 1.5em;
  }
  
  #score {
    font-weight: bold;
    color: green;
  }  